<h1 class="app-name">myFirst</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">myFirst</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
    	<a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
     	<a class="list-group-item" href="#/invoice">Rechnung <i class="fa fa-chevron-right pull-right"></i></a>
     	<a class="list-group-item" href="#/book">Buch <i class="fa fa-chevron-right pull-right"></i></a>
    	<a class="list-group-item" href="#/liste">Liste <i class="fa fa-chevron-right pull-right"></i></a>
    	<a class="list-group-item" href="#/filme">Filme <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/film">Film <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/suche">Filmsuche <i class="fa fa-chevron-right pull-right"></i></a>
     <a class="list-group-item" href="#/http">HTTP <i class="fa fa-chevron-right pull-right"></i></a>

    </div>
  </div>
</div>