   /* $scope.filme = [        
        {date:"12.08.2010",time:"20:30",size:"1.457.999.976",full_filename:"2012_(DVD9_WUNI_VDT).m4v",id:"72",tmdbID:14161,origTitle:"2012",imdbID:"tt1190080",poster_path:"vJqCaYKjtrzjcKlQIXMFynRJbEY.jpg",imdbRating:"5.8"},    
        {date:"13.03.2009",time:"10:22",size:"1.458.435.528",full_filename:"21_(W_DVD5_URJ).m4v",id:"73",tmdbID:8065,origTitle:"21",imdbID:"tt0478087",poster_path:"w42ojlxlSXcrPSaRCA0Hi4okho0.jpg",imdbRating:"6.8"},   
        {date:"03.11.2009",time:"21:15",size:"1.594.188.857",full_filename:"Across_The_Universe_(DPHR_DVD5_STK).m4v",id:"80",tmdbID:4688,origTitle:"Across the Universe",imdbID:"tt0445922",poster_path:"iPh20R6bO4GdBpO0E7t4nEdHhp7.jpg",imdbRating:"7.5"},
        {date:"18.12.2008",time:"12:09",size:"1.200.712.532",full_filename:"A Scanner Darkly - Der dunkle Schirm_(DPHR_DVD5_STK).m4v",id:"79",tmdbID:3509,origTitle:"A Scanner Darkly - Der dunkle Schirm",imdbID:"tt0405296",poster_path:"snHnLkv9gLwpSDH1qsIsOX2xaWf.jpg",imdbRating:"7.1"},
        {date:"09.10.2010",time:"18:17",size:"1.147.716.980",full_filename:"96.Hours_(DIVX_WDPHR_RKA).m4v",id:"78",tmdbID:8681,origTitle:"96 Hours",imdbID:"tt0936501",poster_path:"jRyhRiGniBGYvFWJHn11Bprc5No.jpg",imdbRating:"7.9"},
        {date:"18.12.2008",time:"10:18",size:"1.077.280.249",full_filename:"8_Blickwinkel_(DPHR_DVD5_STK).m4v",id:"77",tmdbID:7461,origTitle:"8 Blickwinkel",imdbID:"tt0443274",poster_path:"6PNwLHSoR28FQGnOFfLlckEkr6j.jpg",imdbRating:"6.6"},
        {date:"08.09.2007",time:"17:37",size:"726.312.544",full_filename:"28.Weeks.Later.avi",id:"76",tmdbID:1562,origTitle:"28 Weeks Later",imdbID:"tt0463854",poster_path:"bElOpwpp45BGMWrMBdZAy9j3Vx7.jpg",imdbRating:"7.0"},
        {date:"17.11.2008",time:"01:52",size:"1.169.948.563",full_filename:"10000BC_(DPHR_DVD5_STK).m4v",id:"71",tmdbID:7840,origTitle:"10.000 BC",imdbID:"tt0443649",poster_path:"hlt9xHt2gqF6qy2u0GD77Iii3yV.jpg",imdbRating:"5.0"},
        {date:"30.03.2009",time:"22:55",size:"1.161.482.269",full_filename:"Akte_X_-_Jenseits_Der_Wahrheit_(WDPHR_DVD9_VDT).m4v",id:"81",tmdbID:8836,origTitle:"Akte X - Jenseits der Wahrheit",imdbID:"tt0443701",poster_path:"2ACi9qoE5JyHQoDnV25r6fS8B0Z.jpg",imdbRating:"5.9"},
        {date:"01.05.2008",time:"21:15",size:"735.234.048",full_filename:"Alarmstufe Rot.avi",id:"82",tmdbID:8845,origTitle:"Alarmstufe: Rot",imdbID:"tt0105690",poster_path:"pNu57WdLAVrd0bXZ7MF7FDf9u2x.jpg",imdbRating:"6.4"},
        {date:"07.11.2010",time:"06:39",size:"1.722.858.109",full_filename:"Albert_Schweitzer_(DVD9_WUNI_VDT).m4v",id:"83",tmdbID:46474,origTitle:"Albert Schweitzer - Ein Leben f\u00fcr Afrika",imdbID:"tt1249311",poster_path:"6fSPijK8RLDlsNgnrrfnAJ7oUHC.jpg",imdbRating:"6.0"},
        {date:"27.12.2009",time:"07:53",size:"3.037.745.442",full_filename:"Aliens_2_(WUNI_DVD9_STK).m4v",id:"84",tmdbID:679,origTitle:"Aliens - Die R\u00fcckkehr",imdbID:"tt0090605",poster_path:"vdVUvbgA4yixvB5gVOB62wJbXdP.jpg",imdbRating:"8.4"},
        {date:"26.12.2009",time:"11:18",size:"1.379.073.719",full_filename:"Alien_(WUNI_DVD9_STK).m4v",id:"85",tmdbID:348,origTitle:"Alien - Das unheimliche Wesen aus einer fremden Welt",imdbID:"tt0078748",poster_path:"yZtkzc9qJjekGgi5lIAVEE05Gxq.jpg",imdbRating:"8.5"},
        {date:"01.06.2008",time:"21:02",size:"1.208.402.147",full_filename:"Alien_vs_Predator_2_DPHR.m4v",id:"86",tmdbID:440,origTitle:"Aliens vs. Predator 2",imdbID:"tt0758730",poster_path:"xR4Mslyum7bjzAF1rlUX2HrlwhZ.jpg",imdbRating:"4.7"},
        {date:"05.11.2009",time:"14:17",size:"1.156.120.023",full_filename:"Alles ist erleuchtet (WDPHR_DVD9_PS).m4v",id:"87",tmdbID:340,origTitle:"Alles ist erleuchtet",imdbID:"tt0404030",poster_path:"aObRPRNdKiEbC7uOeyDAOdJSZtr.jpg",imdbRating:"7.5"},
        {date:"03.10.2010",time:"11:02",size:"1.059.697.698",full_filename:"Alles_Routine_(Office_Space)_(DVD9_WDPHR_UR).m4v",id:"88",tmdbID:1542,origTitle:"Alles Routine",imdbID:"tt0151804",poster_path:"nd0aiCuOQW88fZYSQwdfrkiLngw.jpg",imdbRating:"7.8"}
];
   /* $scope.filme = json.decode([
        {date:"12.08.2010",time:"20:30",size:"1.457.999.976",full_filename:"2012_(DVD9_WUNI_VDT).m4v",id:"72",tmdbID:14161,origTitle:"2012",imdbID:"tt1190080",poster_path:"vJqCaYKjtrzjcKlQIXMFynRJbEY.jpg",imdbRating:"5.8"},    
        {date:"13.03.2009",time:"10:22",size:"1.458.435.528",full_filename:"21_(W_DVD5_URJ).m4v",id:"73",tmdbID:8065,origTitle:"21",imdbID:"tt0478087",poster_path:"w42ojlxlSXcrPSaRCA0Hi4okho0.jpg",imdbRating:"6.8"},   
        {date:"03.11.2009",time:"21:15",size:"1.594.188.857",full_filename:"Across_The_Universe_(DPHR_DVD5_STK).m4v",id:"80",tmdbID:4688,origTitle:"Across the Universe",imdbID:"tt0445922",poster_path:"iPh20R6bO4GdBpO0E7t4nEdHhp7.jpg",imdbRating:"7.5"},
        {date:"18.12.2008",time:"12:09",size:"1.200.712.532",full_filename:"A Scanner Darkly - Der dunkle Schirm_(DPHR_DVD5_STK).m4v",id:"79",tmdbID:3509,origTitle:"A Scanner Darkly - Der dunkle Schirm",imdbID:"tt0405296",poster_path:"snHnLkv9gLwpSDH1qsIsOX2xaWf.jpg",imdbRating:"7.1"},
        {date:"09.10.2010",time:"18:17",size:"1.147.716.980",full_filename:"96.Hours_(DIVX_WDPHR_RKA).m4v",id:"78",tmdbID:8681,origTitle:"96 Hours",imdbID:"tt0936501",poster_path:"jRyhRiGniBGYvFWJHn11Bprc5No.jpg",imdbRating:"7.9"},
        {date:"18.12.2008",time:"10:18",size:"1.077.280.249",full_filename:"8_Blickwinkel_(DPHR_DVD5_STK).m4v",id:"77",tmdbID:7461,origTitle:"8 Blickwinkel",imdbID:"tt0443274",poster_path:"6PNwLHSoR28FQGnOFfLlckEkr6j.jpg",imdbRating:"6.6"},
        {date:"08.09.2007",time:"17:37",size:"726.312.544",full_filename:"28.Weeks.Later.avi",id:"76",tmdbID:1562,origTitle:"28 Weeks Later",imdbID:"tt0463854",poster_path:"bElOpwpp45BGMWrMBdZAy9j3Vx7.jpg",imdbRating:"7.0"},
        {date:"17.11.2008",time:"01:52",size:"1.169.948.563",full_filename:"10000BC_(DPHR_DVD5_STK).m4v",id:"71",tmdbID:7840,origTitle:"10.000 BC",imdbID:"tt0443649",poster_path:"hlt9xHt2gqF6qy2u0GD77Iii3yV.jpg",imdbRating:"5.0"},
        {date:"30.03.2009",time:"22:55",size:"1.161.482.269",full_filename:"Akte_X_-_Jenseits_Der_Wahrheit_(WDPHR_DVD9_VDT).m4v",id:"81",tmdbID:8836,origTitle:"Akte X - Jenseits der Wahrheit",imdbID:"tt0443701",poster_path:"2ACi9qoE5JyHQoDnV25r6fS8B0Z.jpg",imdbRating:"5.9"},
        {date:"01.05.2008",time:"21:15",size:"735.234.048",full_filename:"Alarmstufe Rot.avi",id:"82",tmdbID:8845,origTitle:"Alarmstufe: Rot",imdbID:"tt0105690",poster_path:"pNu57WdLAVrd0bXZ7MF7FDf9u2x.jpg",imdbRating:"6.4"},
        {date:"07.11.2010",time:"06:39",size:"1.722.858.109",full_filename:"Albert_Schweitzer_(DVD9_WUNI_VDT).m4v",id:"83",tmdbID:46474,origTitle:"Albert Schweitzer - Ein Leben f\u00fcr Afrika",imdbID:"tt1249311",poster_path:"6fSPijK8RLDlsNgnrrfnAJ7oUHC.jpg",imdbRating:"6.0"},
        {date:"27.12.2009",time:"07:53",size:"3.037.745.442",full_filename:"Aliens_2_(WUNI_DVD9_STK).m4v",id:"84",tmdbID:679,origTitle:"Aliens - Die R\u00fcckkehr",imdbID:"tt0090605",poster_path:"vdVUvbgA4yixvB5gVOB62wJbXdP.jpg",imdbRating:"8.4"},
        {date:"26.12.2009",time:"11:18",size:"1.379.073.719",full_filename:"Alien_(WUNI_DVD9_STK).m4v",id:"85",tmdbID:348,origTitle:"Alien - Das unheimliche Wesen aus einer fremden Welt",imdbID:"tt0078748",poster_path:"yZtkzc9qJjekGgi5lIAVEE05Gxq.jpg",imdbRating:"8.5"},
        {date:"01.06.2008",time:"21:02",size:"1.208.402.147",full_filename:"Alien_vs_Predator_2_DPHR.m4v",id:"86",tmdbID:440,origTitle:"Aliens vs. Predator 2",imdbID:"tt0758730",poster_path:"xR4Mslyum7bjzAF1rlUX2HrlwhZ.jpg",imdbRating:"4.7"},
        {date:"05.11.2009",time:"14:17",size:"1.156.120.023",full_filename:"Alles ist erleuchtet (WDPHR_DVD9_PS).m4v",id:"87",tmdbID:340,origTitle:"Alles ist erleuchtet",imdbID:"tt0404030",poster_path:"aObRPRNdKiEbC7uOeyDAOdJSZtr.jpg",imdbRating:"7.5"},
        {date:"03.10.2010",time:"11:02",size:"1.059.697.698",full_filename:"Alles_Routine_(Office_Space)_(DVD9_WDPHR_UR).m4v",id:"88",tmdbID:1542,origTitle:"Alles Routine",imdbID:"tt0151804",poster_path:"nd0aiCuOQW88fZYSQwdfrkiLngw.jpg",imdbRating:"7.8"}
    ]);
    */
